:root {
  --background-color: #FFFFFF;
  --font-color: #000000;
  --secondary-background-color: #F5F5F5;
  --secondary-font-color: #292929;
  --tertiary-background-color: #DCDCDC;
  --tertiary-font-color: #2A2A2A;
  --quaternary-background-color: #CDCDCD;
  --quaternary-font-color: #2B2B2B;
  color-scheme: light dark;
  --desktop-width: 61.25rem;
  --h1-background-color: rgba(255,255,255,0.7);
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000000FF;
    --font-color: #FFFFFFFF;
    --secondary-background-color: #333333;
    --secondary-font-color: #E8E8E8;
    --tertiary-background-color: #666666;
    --tertiary-font-color: #FEFEFE;
    --quaternary-background-color: #818181;
    --quaternary-font-color: ##E8E8E8;
    --h1-background-color: rgba(0,0,0,0.5);
  }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    position: relative;
    font-size: 16px;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    background-color: var(--background-color);
    color: var(--font-color);
}

a {
  color: inherit;
  text-decoration: none;
}

header {
    background-color: var(--secondary-background-color);
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: calc(max((100% - var(--desktop-width))/2 + 1rem, env(safe-area-inset-left)));
    padding-right: calc(max((100% - var(--desktop-width))/2 + 1rem, env(safe-area-inset-right)));
}

/* Logo */
#site-brand {
  color: var(--secondary-font-color);
  margin-right: 3rem;
}
#site-brand:hover {
  text-decoration: none;
  color: var(--font-color);
}
#site-logo {
  height: 1rem;
  vertical-align: text-top;
}

/* Navigation */
nav {
  display: inline-block;
  max-width: 60rem;
  min-width: 15rem;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  gap: 1rem;
}
nav li {
    font-weight: 200;
    list-style: none;
}
nav a, h1-actionbar a {
  color: var(--secondary-font-color);
}
nav a:hover, h1-actionbar a:hover {
  color: var(--font-color);
}
nav li a.selected {
  padding-bottom: 3px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

h1 {
  position: sticky;
  top: 0;
  left: 0;
  height: 3rem;
  z-index: 9997;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background-color: var(--h1-background-color);
  color: var(--quaternary-font-color);
  font-size: 1.3rem;
  line-height: 3rem;
  margin: 0 auto;
  transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
  transition-property: background-color, backdrop-filter, -webkit-backdrop-filter;
  padding-left: calc(max((100% - var(--desktop-width))/2 + 1rem, env(safe-area-inset-left)));
  padding-right: calc(max((100% - var(--desktop-width))/2 + 1rem, env(safe-area-inset-right)));
}
h1-actionbar {
  position: sticky;
  top: 0;
  line-height: 3rem;
  margin-right: calc(max((100% - var(--desktop-width))/2 + 1rem, env(safe-area-inset-right)));
  float: right;
  z-index: 9998;
}
.h1-actionbar-icon {
  height: 1rem;
  transform: rotate(-90deg);
  display: inline-flex;
  width: 1rem;
}

p {
  width: var(--desktop-width);
  padding-left: calc(max(1rem, env(safe-area-inset-left)));
  padding-right: calc(max(1rem, env(safe-area-inset-right)));
  margin: 1rem auto;
  font-size: 1.1875rem;
}
